In [1]:
import regex as re

#1st Question

In [2]:
sample_text='Python Exercise, PHP exercises '
expected_output=re.sub('[, .]',':',sample_text)
print("Expected_result = ",expected_output)

Expected_result =  Python:Exercise::PHP:exercises:

#2nd Question

In [3]:
import pandas as pd
Dictionary={'SUMMARY':['hello, world!','XXXXX test','123four,five:;six...']}
df=pd.DataFrame(Dictionary)
df

                SUMMARY
0         hello, world!
1            XXXXX test
2  123four,five:;six...

In [4]:
def cleaning(text):
    clean=re.sub(r'[^a-zA-Z\s]',' ',text)
    return clean

In [5]:
df['SUMMARY']=df['SUMMARY'].apply(cleaning)

In [6]:
df

                SUMMARY
0         hello  world
1            XXXXX test
2     four five  six

#3rd Question

In [7]:
string='''Chandrayan-3 is a follow on mission to chandryan-2 to 
demonstrate end-to-end capability in safe landing and roving on the lunar surface'''

In [8]:
str_pattern=r"\w{4}"
#compiling the pattern
regex_pattern=re.compile(str_pattern)

In [9]:
print(regex_pattern,'\n')

regex.Regex('\\w{4}', flags=regex.V0)

In [10]:
result=regex_pattern.findall(string)

In [11]:
print(result,end=" ")

['Chan', 'dray', 'foll', 'miss', 'chan', 'drya', 'demo', 'nstr', 'capa', 'bili', 'safe', 'land', 'rovi', 'luna', 'surf']

#4 Question

In [12]:
string1="""Strings are a fundamental concept in programming and are used to represent text data.
In programming, a string is a sequence of characters, such as letters, numbers, and symbols.
They are widely used for storing and manipulating textual data in various programming languages"""

In [13]:
pattern=r"\w{3,5}"
regex1_patter=re.compile(pattern)

In [14]:
result1=regex1_patter.findall(string1)
print(result1,end=" ")

['Strin', 'are', 'funda', 'menta', 'conce', 'progr', 'ammin', 'and', 'are', 'used', 'repre', 'sent', 'text', 'data', 'progr', 'ammin', 'strin', 'seque', 'nce', 'chara', 'cters', 'such', 'lette', 'numbe', 'and', 'symbo', 'They', 'are', 'widel', 'used', 'for', 'stori', 'and', 'manip', 'ulati', 'textu', 'data', 'vario', 'progr', 'ammin', 'langu', 'ages']

#5 Question

In [15]:
Sample_Text=["example(.com)","hr@fliprobo(.com)","github(.com)","Hello(Data Science World)","Data(Scientist)"]

In [16]:
ptrn=r"[()]"
#Compiling the patterns
rx_ptrn=re.compile(ptrn)

In [17]:
result2=[rx_ptrn.sub('', s) for s in Sample_Text]
print(result2)

['example.com', 'hr@fliprobo.com', 'github.com', 'HelloData Science World', 'DataScientist']

#6 Question

In [18]:
Sample_text=['Example(.com)','hr@fliprobo(.com)','github(.com)','Hello(Data Science World)','Data(Scientist)']

In [19]:
ptrn3=r'\([^()]*\)'
#compiling the Pattern
rex_ptn=re.compile(ptrn3)

In [20]:
result3=[rex_ptn.sub('',a) for a in Sample_text]
print('Expected Result :',result3)

Expected Result : ['Example', 'hr@fliprobo', 'github', 'Hello', 'Data']

#7 Question

In [21]:
text='ImportanceOfRegularExpressionInPython'

In [22]:
ex=re.findall('[A-Z][^A-Z]*',text)

In [23]:
print(ex)

['Importance', 'Of', 'Regular', 'Expression', 'In', 'Python']

#8 Question

In [24]:
Txt='RegularExpression1IsAn2ImportantTopic3Inpython'
exp=re.sub(r'([A-Za-z])(\d)', r'\1 \2',Txt)
print(exp)

RegularExpression 1IsAn 2ImportantTopic 3Inpython

#9 Question

In [25]:
tt='RegularExpression1IsAn2ImportantTopic3Inpython'
ex=re.sub(r'([0-9])([A-Za-z])',r" \1 \2",tt)
print(ex)

RegularExpression 1 IsAn 2 ImportantTopic 3 Inpython

#10 Question

In [26]:
ds=pd.read_csv('country.csv')

In [27]:
df=pd.DataFrame(ds)

In [28]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [29]:
df.head(5)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [30]:
def letters (test):
    start6=re.findall(r'\w{6}',test)
    return start6

In [31]:
df['Country']=df['Country'].apply(letters)

In [32]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,[Switze],Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,[Icelan],Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,[Denmar],Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,[Norway],Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,[Canada],North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,[Rwanda],Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,[],Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,[],Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,[Burund],Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,[],Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [33]:
first_five_letters=df.iloc[:,0]
first_five_letters

0      [Switze]
1      [Icelan]
2      [Denmar]
3      [Norway]
4      [Canada]
         ...
153    [Rwanda]
154          []
155          []
156    [Burund]
157          []
Name: Country, Length: 158, dtype: object

In [34]:
first_five_letters=pd.DataFrame(first_five_letters)
first_five_letters

      Country
0    [Switze]
1    [Icelan]
2    [Denmar]
3    [Norway]
4    [Canada]
..        ...
153  [Rwanda]
154        []
155        []
156  [Burund]
157        []

[158 rows x 1 columns]

#11 Question

In [35]:
def match_string(text):
    prn=r'^[a-zA-Z0-9_]*$'
    if re.match(prn,text):
        return True
    else:
        return False

In [36]:
text='Python is a Programming Language in 2024'
print(match_string(text))

False

In [37]:
text='PythonisaProgrammingLanguagein2024_'
print(match_string(text))

True

#12 Question

In [38]:
Text='There are 24 members in the office and 5 manager and 1 Hod'
matches=re.findall(r'\d+',Text)
print(matches)

['24', '5', '1']

#13 Question

In [39]:
ip_address='215.021.002.004'
remove_leading_zero=re.sub(r'\b0+(\d+)\b', r'\1',ip_address)
print('remove_leading_zero =',remove_leading_zero)

remove_leading_zero = 215.21.2.4

#14 Question

In [40]:
text='On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country'
with open("text.txt",'w') as file:
    file.write(text)

In [41]:
with open ("text.txt",'r') as file:
    Date=file.read()
pattern=r'\b(?:January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:st|nd|rd|th)?\s+\d{4}\b'

Result=re.findall(pattern,Date)
print('Expected Result: ', Result)

Expected Result:  ['August 15th 1947']

#15 Question

In [42]:
def search_str(text,words):
    words_found=[]
    for word in words:
        if word in text:
            words_found.append(word)
    return words_found

text='The quick brown fox jumps over the lazy dog'
word=['fox','dog']

words_found=search_str(text,word)

if words_found:
    print(f'words_found: {", ".join(words_found)}')
else:
    print('No words found.')

words_found: fox, dog

#16 Question

In [43]:
smpl_text='The quick brown fox jumps over the lazy dog'
ptn=re.search('fox',smpl_text)
print(ptn)

<regex.Match object; span=(16, 19), match='fox'>

#17 Question

In [44]:
spl_text='Python exercises, PHP exercises, c# exercises'
ptn=re.findall('\w{9}$',spl_text)
print(ptn)

['exercises']

#18 Question

In [45]:
def find(main_str,substring):
    occurence=0
    position=[]
    
    start_index=main_str.find(substring)
    
    while start_index !=-1:
        occurence += 1
        position.append(start_index)
        start_index=main_str.find(substring,start_index + 1)
    
    return occurence, position

In [46]:
spl_txt="Python exercises, PHP exercises, C# exercises"
ptn= 'exercises'

In [47]:
num_occurence, position= find(spl_txt,ptn)

In [48]:
if num_occurence >0:
    print(f"substring '{ptn}' found {num_occurence} times at position: {position}")
else:
    print(f"substring '{ptn}' not found in the string.")

substring 'exercises' found 3 times at position: [7, 22, 36]

#19 Question

In [49]:
import time

In [50]:
#YYYY-MM-DD Format
print(time.strftime('%Y-%m-%d'))

2024-02-01

In [51]:
#DD-MM-YYYY
print(time.strftime('%d-%m-%Y'))

01-02-2024

#20 Question

In [52]:
sample="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
ptrn=(r'\b\d+\.\d{1,2}\b')
#Compling Pattern 
exp_res=re.compile(ptrn)
expected_result=exp_res.findall(sample)
print(expected_result)

['01.12', '145.8', '3.01', '27.25', '0.25']

#21 Question

In [53]:
string="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
for m in re.finditer(r'\d+(\.\d+)\s?',string):
    print(m.group(0))
    print('Index Position',m.start())

01.12
Index Position 0
0132.123
Index Position 6
2.31875
Index Position 15
145.8
Index Position 23
3.01
Index Position 29
27.25
Index Position 34
0.25
Index Position 40

#22 Question

In [54]:
str='My marks in each semester are:947,896,926,524,734,950,642'
max_number=re.findall('\d+',str)

nos=map(int,max_number)
print('Max_number',max(max_number))

Max_number 950

#23 Question

In [55]:
ptrn1=re.compile(r'[A-Z][a-z]+')

In [56]:
Sample_test='RegularExpressionIsANImportantTopicInPython'
ptrn=ptrn1.findall(Sample_test)
print(ptrn)

['Regular', 'Expression', 'Is', 'Important', 'Topic', 'In', 'Python']

#24 Question

In [57]:
strg=['Regular',
     'Expression',
     'is',
     'Important',
     'Topic',
     'in',
     'Python!']
for string in strg:
    ptn=re.search(r'[A-Z]+[a-z]+',string)
    print(ptn)

<regex.Match object; span=(0, 7), match='Regular'>
<regex.Match object; span=(0, 10), match='Expression'>
None
<regex.Match object; span=(0, 9), match='Important'>
<regex.Match object; span=(0, 5), match='Topic'>
None
<regex.Match object; span=(0, 6), match='Python'>

#25 Question

In [58]:
stxt='Hello hello world world'
ptn=re.sub(r'\b(\w+)(\s+\1)+\b',r'\1',stxt)
print(ptn)

Hello hello world

#26 Question

In [59]:
sapl='123abc is an alphanumeric 4566bca'
ptrn=r'.*[a-zA-Z0-9]$'
result=re.match(ptrn,sapl)
print(result)

<regex.Match object; span=(0, 33), match='123abc is an alphanumeric 4566bca'>

#27 Question

In [60]:
sample="""RT @kapil_kausik: #Dotiwal I mean #xyzabc is 'hurt' by #Demonetization as the same has rendered USELESS
<ed><U+00A0><U+00BD><ed><U+00B1><U+0089> 'acuired funds' No wo"""
pattern=re.findall('#\w+',sample)
print(pattern)

['#Dotiwal', '#xyzabc', '#Demonetization']

#28 Question

In [61]:
Sample="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"
result=re.sub(r'<U\+[A-Fa-f0-9]+>',"",Sample)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

#29 Question

In [62]:
text2='Ron was born on 12-09-1992 and he was admitted to school 15-12-1999'
with open('text2.txt','w') as file:
    file.write(text2)

In [63]:
with open ('text2.txt','r') as file:
    sample_text=file.read()
pattern=r'\d{2}-\d{2}-\d{4}'

result=re.findall(pattern,sample_text)
print("Expected_result:",result)

Expected_result: ['12-09-1992', '15-12-1999']

#30 Question

In [64]:
pattern=r'\W*\b\w{2,4}\b'
# Compiling the pattern
exp=re.compile(pattern)

In [65]:
Sample_txtt='The following examples creates an ArrayList with a capacity of 50 elements.4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly.'
result=re.sub(exp,'',Sample_txtt)
print('Expected Result:-->',result)

Expected Result:-->  following examples creates ArrayList a capacity elements.4 elements added ArrayList ArrayList trimmed accordingly.