In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

#QUESTION - 1

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
designation=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input')
designation.send_keys('Data Scientist')

In [5]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[6]')
search.click()

In [7]:
salary=driver.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[3]/div[2]/div[2]/label')
salary.click()

In [8]:
location=driver.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[4]/div[2]/div[3]/label')
location.click()

In [9]:
Job_Title=[]
Job_Location=[]
Company_Name=[]
Experience_Required=[]

In [10]:
#Scraping data of job title,Location,Name,Experience from website

jobtitle=driver.find_elements(By.XPATH,'//a[@class="title "]')
for i in jobtitle:
    title=i.text
    Job_Title.append(title)
    Job_Title=Job_Title[0:10]
    
location=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]')
for i in location:
    loc=i.text
    Job_Location.append(loc)
    Job_Location=Job_Location[0:10]
    
Name=driver.find_elements(By.XPATH,'//a[@class=" comp-name mw-25"]')
for i in Name:
    name=i.text
    Company_Name.append(name)
    Company_Name=Company_Name[0:10]
    
experience=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience:
    exp=i.text
    Experience_Required.append(exp)
    Experience_Required= Experience_Required[0:10]

In [11]:
print(len(Job_Title),len(Job_Location),len(Company_Name),len(Experience_Required))

10 10 10 10

In [12]:
NokriDF=pd.DataFrame({'Job_Title':Job_Title,'Job_Location':Job_Location,'Company_Name':Company_Name,
                      'Experience_Required':Experience_Required})

In [13]:
NokriDF

,Job_Title,Job_Location,Company_Name,Experience_Required
0,Data Scientist HTHD,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,1-4 Yrs
1,Data Scientist,"Mumbai, Hyderabad, Gurugram",Deloitte,3-6 Yrs
2,Data Scientist,"Gurugram, Bengaluru",Blackbuck,3-7 Yrs
3,Sr. Data Scientist,"Greater Noida, Bengaluru",Honeywell,3-6 Yrs
4,Sr. Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Fort Technologies,3-7 Yrs
5,,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",ZS Associates,1-3 Yrs
6,,"Pune, Gurugram",Course5 Intelligence,2-4 Yrs
7,,"Mumbai, Gurugram, Bengaluru",Innovaccer,3-6 Yrs
8,Data Scientist II,Noida,Times Internet,2-7 Yrs
9,Lead Data Scientist,Noida,The Scholar,3-8 Yrs

#QUESTION --> 2

In [14]:
driver=webdriver.Chrome()

In [15]:
driver.get('https://www.shine.com/')

In [16]:
title=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
title.send_keys('Data Scientist')

In [17]:
location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [18]:
search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [19]:
job_title=[]
job_location=[]
company_name=[]
experience=[]

In [20]:
titlee=driver.find_elements(By.XPATH,'//*[@id="1"]/div/div[1]/div[1]/h2/a')
for i in titlee:
    titl=i.text
    job_title.append(titl)
    
locationn=driver.find_elements(By.XPATH,'//*[@id="1"]/div/div[1]/div[1]/div[3]/div[2]')
for i in locationn:
    loc=i.text
    job_location.append(loc)
    
name=driver.find_elements(By.XPATH,'//*[@id="1"]/div/div[1]/div[1]/div[2]/span')
for i in name:
    nam=i.text
    company_name.append(nam)
    
exp=driver.find_elements(By.XPATH,'//*[@id="1"]/div/div[1]/div[1]/div[3]/div[1]')
for i in exp:
    expp=i.text
    experience.append(expp)

In [21]:
job_title=job_title [0:10]
job_location=job_location [0:10]
company_name=company_name [0:10]
experience=experience [0:10]

In [22]:
DataFrame=pd.DataFrame({'Job Title':job_title,'job Location':job_location,'Company Name':company_name,
                       'Experience Required':experience})

In [23]:
DataFrame

,Job Title,job Location,Company Name,Experience Required
0,Data Scientist Opening,Bangalore\n+15,renuka interprises,0 to 4 Yrs
1,Data Scientist Opening,Bangalore\n+15,renuka interprises,0 to 4 Yrs
2,Data Scientist Recruitment,Bangalore\n+9,radhika enterprises,0 to 4 Yrs
3,Data Scientist,Bangalore\n+8,techno endura,0 to 2 Yrs
4,ML Data Scientist,Bangalore\n+3,gujarat facility services hiring fo...,5 to 8 Yrs
5,Data Scientist Urgent Vacancy,Bangalore\n+15,renuka interprises,0 to 4 Yrs
6,Data Scientist,Bangalore\n+4,acme services private limited,3 to 5 Yrs
7,Data Scientist Recruitment,Bangalore\n+15,renuka interprises,0 to 4 Yrs
8,Data Scientist Recruitment,Bangalore\n+15,renuka interprises,0 to 4 Yrs
9,Clinical Data Associate,Bangalore\n+6,techno endura,0 to 1 Yr

#QUESTION -->3

In [24]:
driver=webdriver.Chrome()

In [25]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [26]:
Rating=[]
Review=[]
Full_Review=[]

In [27]:
start=0
end=20
for page in range(start,end):
    rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:
        rate=i.text
        Rating.append(rate)
        Rating=Rating[0:100]
        
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        reviews=i.text
        Review.append(reviews)
        Review=Review[0:100]
        
    full=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full:
        Full=i.text
        Full_Review.append(Full)
        Full_Review=Full_Review[0:100]
        
    nextp=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    nextp.click()
    time.sleep(3)

In [28]:
print(len(Rating),len(Review),len(Full_Review))

100 100 100

In [29]:
FlipkartDF=pd.DataFrame({'Rating':Rating,"Review":Review,"Full_Review":Full_Review})

In [30]:
FlipkartDF.head()

,Rating,Review,Full_Review
0,5,Best in the market!,Good Camera
1,5,Worth every penny,Feeling awesome after getting the delivery of ...
2,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
3,5,Terrific,Very very good
4,5,Fabulous!,Superüî• and good performance üëå‚ù§Ô∏è

#QUESTION -->4

In [31]:
driver=webdriver.Chrome()

In [32]:
driver.get('https://www.flipkart.com/')

In [34]:
title=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
title.send_keys('sneakers')

In [36]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [37]:
Brand=[]
Product_Description=[]
Price=[]

In [38]:
start=0
end=5
for page in range(start,end):
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        bnd=i.text
        Brand.append(bnd)
        
    product=driver.find_elements(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div/div/div/div/div/a[1]')
    for i in product:
        prd=i.text
        Product_Description.append(prd)
        
    price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price:
        prc=i.text
        Price.append(prc)
        
    nextpage=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    nextpage.click()
    time.sleep(3)

In [40]:
Brand=Brand[0:100]
Product_Description=Product_Description[2:102]
Price=Price[0:100]

In [41]:
sneakerdf=pd.DataFrame({'Brand':Brand,'Product Description':Product_Description,'Price':Price})

In [42]:
sneakerdf.head(5)

       Brand                                Product Description   Price
0       aadi  Synthetic Leather |Lightweight|Comfort|Summer|...    ‚Çπ289
1     BRUTON  Combo Pack Of 2 Casual Shoes for mens Sneakers...    ‚Çπ499
2  Deals4you                                 Sneakers For Women    ‚Çπ439
3   URBANBOX  Trending Stylish Casual Outdoor Shoes For Men ...    ‚Çπ299
4   RED TAPE  Casual Sneakers Shoes for Men | Soft Cushioned...  ‚Çπ1,179

#QUESTION --> 5

In [43]:
driver=webdriver.Chrome()

In [44]:
driver.get('https://www.amazon.in/')

In [45]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
product.send_keys('Laptop')
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [46]:
cpu_type=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div/div/div/div[6]/ul[19]/span/span[9]/li/span/a/span')
cpu_type.click()

In [47]:
Title=[]
Ratings=[]
Price=[]

In [48]:
title=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title:
    ttl=i.text
    Title.append(ttl)
    Title=Title[0:10]
rating=driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]')
for i in rating:
    rate=i.text
    Rating.append(rate)
    Rating=Rating[0:10]
price=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price:
    prc=i.text
    Price.append(prc)
    Price=Price[0:10]

In [49]:
Laptop=pd.DataFrame({"Title":Title,"Rating":Rating,"Price in ‚Çπ":Price})

In [50]:
Laptop

                                               Title Rating Price in ‚Çπ
0  Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 1...      5     69,990
1  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...      5     62,990
2  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...      5     49,990
3  Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 1...      5     49,990
4  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...      5     62,990
5  Acer Travelmate Business Laptop Intel Core i7-...      5     74,990
6  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...      5   1,19,990
7  HP Pavilion X360 11th Gen Intel Core i7 14" (3...      5     49,990
8  HP Victus Gaming Laptop, 12th Gen Intel Core i...      5     59,990
9  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...      5     67,990

#QUESTION -->6

In [51]:
driver=webdriver.Chrome()

In [52]:
driver.get('https://www.azquotes.com/')

In [57]:
Quote=[]
Author=[]
Types_of_Quote=[]

In [59]:
start=0
end=10
for page in range(start,end):
    quote=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote:
        quotee=i.text
        Quote.append(quotee)
    
    author=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author:
        athr=i.text
        Author.append(athr)
        
    Type=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in Type:
        type=i.text
        Types_of_Quote.append(type)
        
    nextpage=driver.find_element(By.XPATH,'/html/body/div/div[2]/div/div/div/div[1]/div/div[3]/li[13]/a')
    nextpage.click()
    time.sleep(3)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div/div[2]/div/div/div/div[1]/div/div[3]/li[13]/a"}
  (Session info: chrome=122.0.6261.112); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF77E41AD32+56930]
	(No symbol) [0x00007FF77E38F632]
	(No symbol) [0x00007FF77E2442E5]
	(No symbol) [0x00007FF77E2898ED]
	(No symbol) [0x00007FF77E289A2C]
	(No symbol) [0x00007FF77E2CA967]
	(No symbol) [0x00007FF77E2ABCDF]
	(No symbol) [0x00007FF77E2C81E2]
	(No symbol) [0x00007FF77E2ABA43]
	(No symbol) [0x00007FF77E27D438]
	(No symbol) [0x00007FF77E27E4D1]
	GetHandleVerifier [0x00007FF77E796ABD+3709933]
	GetHandleVerifier [0x00007FF77E7EFFFD+4075821]
	GetHandleVerifier [0x00007FF77E7E818F+4043455]
	GetHandleVerifier [0x00007FF77E4B9766+706710]
	(No symbol) [0x00007FF77E39B90F]
	(No symbol) [0x00007FF77E396AF4]
	(No symbol) [0x00007FF77E396C4C]
	(No symbol) [0x00007FF77E386904]
	BaseThreadInitThunk [0x00007FFF68D67344+20]
	RtlUserThreadStart [0x00007FFF693426B1+33]

In [60]:
Quote=Quote[0:1000]
Author=Author[0:1000]
Types_of_Quote=Types_of_Quote[0:1000]

In [61]:
print(len(Quote),len(Author),len(Types_of_Quote))

1000 1000 1000

In [62]:
df=pd.DataFrame({"Quote":Quote,"Author":Author,"Types_of_Quotes":Types_of_Quote})

In [63]:
df

,Quote,Author,Types_of_Quotes
0,Can words describe the fragrance of the very b...,Neltje Blanchan,"Spring, April, Fragrance"
1,Faith is to believe what you do not see; the r...,Saint Augustine,"Inspirational, Faith, Spiritual"
2,"When everything seems to be going against you,...",Henry Ford,"Inspirational, Motivational, Positive"
3,"I have found that if you love life, life will ...",Arthur Rubinstein,"Love, Inspirational, Life"
4,To disarm the people... was the best and most ...,George Mason,"Strength, Peace, Gun"
...,...,...,...
995,To love means loving the unlovable. To forgive...,Gilbert K. Chesterton,"Love, Inspirational, Success"
996,Be brave. Take risks. Nothing can substitute e...,Paulo Coelho,"Encouraging, Courage, Inspiration"
997,"If you really want to do something, you'll fin...",Jim Rohn,"Inspirational, Motivational, Success"
998,It is neither wealth nor splendor; but tranqui...,Thomas Jefferson,"Life, Happiness, Work"
999,A thousand words will not leave so deep an imp...,Henrik Ibsen,"Inspirational, Inspiring, Positivity"

#QUESTION --> 7

In [65]:
driver=webdriver.Chrome()

In [66]:
driver.get('https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1')

In [89]:
Name=[]
Born_Dead=[]
Term_of_office=[]
Remarks=[]

In [90]:
name=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[6]/div/table/tbody/tr/td[2]/div')
for i in name:
    namee=i.text
    Name.append(namee)
    
born_dead=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[6]/div/table/tbody/tr/td[3]/div')
for i in born_dead:
    bd=i.text
    Born_Dead.append(bd)
    
term=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[6]/div/table/tbody/tr/td[4]')
for i in term:
    trm=i.text
    Term_of_office.append(trm)
    
remark=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[6]/div/table/tbody/tr/td[5]')
for i in remark:
    rem=i.text
    Remarks.append(rem)

In [91]:
Prime_Minister_DF=pd.DataFrame({"Name":Name,'Born-Dead':Born_Dead,'Term of Office':Term_of_office,'Remarks':Remarks})

In [92]:
Prime_Minister_DF

,Name,Born-Dead,Term of Office,Remarks
0,Jawahar Lal Nehru,(1889‚Äì1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904‚Äì1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917‚Äì1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896‚Äì1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902‚Äì1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917‚Äì1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944‚Äì1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931‚Äì2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927‚Äì2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921‚Äì2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919‚Äì2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

#QUESTION --> 8

In [93]:
driver=webdriver.Chrome()

In [94]:
driver.get('https://www.motor1.com')

In [95]:
cars=driver.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/button')
cars.send_keys('50 most expensive cars')

In [97]:
search=driver.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search.click()

In [98]:
carsearch=driver.find_element(By.XPATH,'/html/body/div[9]/div[9]/div[3]/div[1]/div/div/div[2]')
carsearch.click()

In [99]:
CAR_NAME=[]
PRICE=[]

In [100]:
name=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/h3')
for i in name:
    car=i.text
    CAR_NAME.append(car)
    
price=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p/strong')
for i in price:
    prc=i.text
    PRICE.append(prc)

In [101]:
CarDF=pd.DataFrame({'Car Name':CAR_NAME,'Price':PRICE})

In [105]:
CarDF.head(5)

            Car Name                               Price
0  Ferrari LaFerrari  Price: ¬£1.1 million ($1.4 million)
1      Pagani Huayra  Price: ¬£1.1 million ($1.4 million)
2       McLaren Elva
3      Ferrari Monza  Price: ¬£1.3 million ($1.7 million)
4    Bentley Bacalar  Price: ¬£1.3 million ($1.7 million)