In [1]:
#IMPORTING LIBRARIES
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

#Importing Selenium WebDriver
from selenium import webdriver

#Importing required Exceptions which needs to handle
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

#Importing Requests
import requests
from selenium.webdriver.common.by import By

#Importing Warnings
import warnings
warnings.filterwarnings('ignore')

# 01 QUESTION

In [2]:
#OPENING CHROME
driver = webdriver.Chrome()

In [3]:
#OPENING URL
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
Most_Viewed_Videos=driver.find_element(By.XPATH,'//table["sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][2]')

In [5]:
Name=[]
Artist=[]
Views=[]
Upload_date=[]

In [6]:
name=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in name:
    namme=i.text
    Name.append(namme)

artist=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for i in artist:
    art=i.text
    Artist.append(art)

view=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for i in view:
    views=i.text
    Views.append(views)

Date=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for i in Date:
    date=i.text
    Upload_date.append(date)

In [7]:
print(len(Name),len(Artist),len(Upload_date),len(Views))

30 30 30 30

In [8]:
#MAKING DATAFRAME OF SCRAPING DATA
Most_Viewed_VideosDF=pd.DataFrame({"Name":Name,"Artist":Artist,"Views":Views,"Upload_date":Upload_date})

In [9]:
Most_Viewed_VideosDF

,Name,Artist,Views,Upload_date
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,14.22,"June 17, 2016"
1,"""Despacito""[10]",Luis Fonsi,8.40,"January 12, 2017"
2,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.88,"October 8, 2016"
3,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,6.65,"May 2, 2018"
4,"""Shape of You""[20]",Ed Sheeran,6.22,"January 30, 2017"
5,"""See You Again""[23]",Wiz Khalifa,6.20,"April 6, 2015"
6,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,5.95,"May 24, 2018"
7,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,5.73,"March 6, 2014"
8,"""Uptown Funk""[30]",Mark Ronson,5.17,"November 19, 2014"
9,"""Gangnam Style""[31]",Psy,5.09,"July 15, 2012"
10,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,5.08,"February 27, 2018"
11,"""Masha and the Bear – Recipe for Disaster""[37]",Get Movies,4.58,"January 31, 2012"
12,"""Dame Tu Cosita""[38]",Ultra Records,4.57,"April 5, 2018"
13,"""Axel F""[39]",Crazy Frog,4.40,"June 16, 2009"
14,"""Sugar""[40]",Maroon 5,4.02,"January 14, 2015"
15,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.99,"June 25, 2018"
16,"""Counting Stars""[42]",OneRepublic,3.99,"May 31, 2013"
17,"""Roar""[43]",Katy Perry,3.97,"September 5, 2013"
18,"""Lakdi Ki Kathi""[44]",Jingle Toons,3.95,"June 14, 2018"
19,"""Waka Waka (This Time for Africa)""[45]",Shakira,3.88,"June 4, 2010"
20,"""Sorry""[46]",Justin Bieber,3.78,"October 22, 2015"
21,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.75,"January 26, 2018"
22,"""Thinking Out Loud""[48]",Ed Sheeran,3.74,"October 7, 2014"
23,"""Shree Hanuman Chalisa""[49]",T-Series Bhakti Sagar,3.74,"May 10, 2011"
24,"""Perfect""[50]",Ed Sheeran,3.69,"November 9, 2017"
25,"""Dark Horse""[51]",Katy Perry,3.69,"February 20, 2014"
26,"""Let Her Go""[52]",Passenger,3.63,"July 25, 2012"
27,"""Faded""[53]",Alan Walker,3.60,"December 3, 2015"
28,"""Girls Like You""[54]",Maroon 5,3.57,"May 31, 2018"
29,"""Lean On""[55]",Major Lazer Official,3.56,"March 22, 2015"

# QUESTION --> 2

In [21]:
#OPENING CHROME
driver=webdriver.Chrome()

In [22]:
#OPENING URL
driver.get('https://www.bcci.tv/')

In [23]:
#CLICKING THE INTERNATIONAL FIXTURES
series=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
series.click()

In [24]:
Series =[]
Place =[]
Date =[]
Time =[]

In [25]:
series=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series:
    srs=i.text
    Series.append(srs)

place=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in place:
    plc=i.text
    Place.append(plc)

date=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date:
    datee=i.text
    Date.append(datee)

time=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time:
    timee=i.text
    Time.append(timee)

In [26]:
#MAKING DATAFRAME
Fixtures=pd.DataFrame({"Series":Series,"Place":Place,"Date":Date,"Time":Time})

In [27]:
Fixtures

                        Series     Place           Date         Time
0  ICC MENS T20 WORLD CUP 2024  New York   5 JUNE, 2024  8:00 PM IST
1  ICC MENS T20 WORLD CUP 2024  New York   9 JUNE, 2024  8:00 PM IST
2  ICC MENS T20 WORLD CUP 2024  New York  12 JUNE, 2024  8:00 PM IST
3  ICC MENS T20 WORLD CUP 2024   Florida  15 JUNE, 2024  8:00 PM IST
4  INDIA TOUR OF ZIMBABWE 2024    Harare   6 JULY, 2024  8:00 PM IST
5  INDIA TOUR OF ZIMBABWE 2024    Harare   7 JULY, 2024  8:00 PM IST
6  INDIA TOUR OF ZIMBABWE 2024    Harare  10 JULY, 2024  8:00 PM IST
7  INDIA TOUR OF ZIMBABWE 2024    Harare  13 JULY, 2024  8:00 PM IST
8  INDIA TOUR OF ZIMBABWE 2024    Harare  14 JULY, 2024  8:00 PM IST

# QUESTION --> 3

In [28]:
#OPENING CHROME
driver=webdriver.Chrome()

In [29]:
#OPENING URL
driver.get("http://statisticstimes.com/")

In [30]:
#CLICKING THE ECONOMY
economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [31]:
#CLICKING THE GDP OF INDIA
gdp=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp.click()

In [32]:
Rank =[]
State =[]
GSDP_21_22 =[]
GSDP_22_23 =[]
Share_21_22 =[]
GDP =[]

In [33]:
rank=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[1]')
for i in rank:
    rnk=i.text
    Rank.append(rnk)

state=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[2]')
for i in state:
    statee=i.text
    State.append(statee)

gsdp1=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[4]')
for i in gsdp1:
    gsdp=i.text
    GSDP_21_22.append(gsdp)

gsdp2=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[3]')
for i in gsdp2:
    gsdpp=i.text
    GSDP_22_23.append(gsdpp)

share=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[5]')
for i in share:
    sharee=i.text
    Share_21_22.append(sharee)

gdp=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[6]')
for i in gdp:
    gdpp=i.text
    GDP.append(gdpp)

In [34]:
#MAKING DATAFRAME
EconomyDF=pd.DataFrame({"Rank":Rank,"State":State,"GSDP(21-22)- at current prices":GSDP_21_22,"GSDP(22-23)- at current prices":GSDP_22_23,
                        "Share 21-22":Share_21_22,"GDP($ billion)":GDP})

In [35]:
EconomyDF

,Rank,State,GSDP(21-22)- at current prices,GSDP(22-23)- at current prices,Share 21-22,GDP($ billion)
0,1,Maharashtra,"3,108,022",-,13.17%,414.928
1,2,Tamil Nadu,"2,071,286","2,364,514",8.78%,276.522
2,3,Uttar Pradesh,"1,974,532","2,257,575",8.37%,263.605
3,4,Karnataka,"1,962,725","2,241,368",8.32%,262.029
4,5,Gujarat,"1,937,066",-,8.21%,258.603
5,6,West Bengal,"1,363,926","1,554,992",5.78%,182.087
6,7,Rajasthan,"1,218,193","1,413,620",5.16%,162.632
7,8,Madhya Pradesh,"1,136,137","1,322,821",4.81%,151.677
8,9,Andhra Pradesh,"1,133,837","1,317,728",4.80%,151.370
9,10,Telangana,"1,128,907","1,313,391",4.78%,150.712
10,11,Kerala,"932,470",-,3.95%,124.487
11,12,Delhi,"904,642","1,043,759",3.83%,120.772
12,13,Haryana,"870,665","994,154",3.69%,116.236
13,14,Odisha,"670,881","774,869",2.84%,89.564
14,15,Bihar,"650,302","751,396",2.76%,86.817
15,16,Punjab,"614,227","673,107",2.60%,82.001
16,17,Assam,"412,612","493,167",1.75%,55.085
17,18,Chhattisgarh,"406,416","457,608",1.72%,54.258
18,19,Jharkhand,"358,863","393,722",1.52%,47.909
19,20,Uttarakhand,"272,159","302,621",1.15%,36.334
20,21,Jammu & Kashmir-UT,"199,917","227,927",0.85%,26.689
21,22,Himachal Pradesh,"176,269","195,405",0.75%,23.532
22,23,Goa,"82,604",-,0.35%,11.028
23,24,Tripura,"62,550","72,636",0.27%,8.351
24,25,Chandigarh,"45,635",-,0.19%,6.092
25,26,Puducherry,"44,238",-,0.19%,5.906
26,27,Meghalaya,"38,785","42,697",0.16%,5.178
27,28,Sikkim,"37,557","42,756",0.16%,5.014
28,29,Manipur,"36,594",-,0.16%,4.885
29,30,Arunachal Pradesh,"35,124",-,0.15%,4.689
30,31,Nagaland,"31,913",-,0.14%,4.260
31,32,Mizoram,"27,824",-,0.12%,3.715
32,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.385

# QUESTION -->4

In [36]:
#OPENING CHROME
driver=webdriver.Chrome()

In [37]:
#OPENING URL
driver.get('https://github.com/')

In [38]:
#OPENING MENU
menu=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]')
menu.click()

In [39]:
#OPENING TRENDING OPTIONS
trend=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trend.click()

In [40]:
Repository_title =[]
Repository_description =[]
Contributors_count =[]
Language_used =[]

In [41]:
title=driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in title:
    repo=i.text
    Repository_title.append(repo)

description=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in description:
    desc=i.text
    Repository_description.append(desc)

count=driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"][1]')
for i in count:
    counts=i.text
    Contributors_count.append(counts)

language=driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article/div[2]/span[1]')
for i in language:
    lng=i.text
    Language_used.append(lng)

In [42]:
print(len(Repository_title),len(Repository_description),len(Contributors_count),len(Language_used))

25 25 25 25

In [43]:
#MAKING DATAFRAME
githubDF=pd.DataFrame({"Repository_title":Repository_title,"Repository_description":Repository_description,"Contributors_count":Contributors_count,
                       "Language_used":Language_used})

In [44]:
githubDF

,Repository_title,Repository_description,Contributors_count,Language_used
0,heyform / heyform,HeyForm is an open-source form builder that al...,"3,588",TypeScript
1,jasonppy / VoiceCraft,Zero-Shot Speech Editing and Text-to-Speech in...,"5,070",Jupyter Notebook
2,microsoft / generative-ai-for-beginners,"18 Lessons, Get Started Building with Generati...","37,346",Jupyter Notebook
3,Mozilla-Ocho / llamafile,Distribute and run LLMs with a single file.,"11,803",C++
4,OpenBMB / ChatDev,Create Customized Software using Natural Langu...,"21,238",Shell
5,go-nunu / nunu,A CLI tool for building Go applications.,"1,513",Go
6,wandb / openui,OpenUI let's you describe UI using your imagin...,"2,442",TypeScript
7,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,"253,562",Built by
8,DioxusLabs / dioxus,"Fullstack GUI library for web, desktop, mobile...","17,470",Rust
9,OpenDevin / OpenDevin,"🐚 OpenDevin: Code Less, Make More","16,760",Python
10,valkey-io / valkey,A new project to resume development on the for...,"6,385",C
11,microsoft / ML-For-Beginners,"12 weeks, 26 lessons, 52 quizzes, classic Mach...","66,132",HTML
12,halfrost / LeetCode-Go,"✅ Solutions to LeetCode by Go, 100% test cover...","31,839",Go
13,doocs / source-code-hunter,😱 从源码层面，剖析挖掘互联网行业主流技术的底层实现原理，为广大开发者 “提升技术深度” 提...,"17,700",Java
14,dvlab-research / MiniGemini,Official implementation for Mini-Gemini,588,Python
15,billmei / every-chatgpt-gui,Every front-end GUI client for ChatGPT,"1,560",Built by
16,developersdigest / llm-answer-engine,Build a Perplexity-Inspired Answer Engine Usin...,"2,468",TypeScript
17,city-super / Octree-GS,Octree-GS: Towards Consistent Real-time Render...,254,C++
18,Atlas-OS / Atlas,🚀 An open and lightweight modification to Wind...,"11,426",Batchfile
19,jwasham / coding-interview-university,A complete computer science study plan to beco...,"281,021",Built by
20,xuchengsheng / spring-reading,涵盖了 Spring 框架的核心概念和关键功能，包括控制反转（IOC）容器的使用，面向切面编...,"5,076",Java
21,TencentARC / BrushNet,"The official implementation of paper ""BrushNet...",686,Python
22,upscayl / upscayl,🆙 Upscayl - Free and Open Source AI Image Upsc...,"25,198",TypeScript
23,janhq / jan,Jan is an open source alternative to ChatGPT t...,"15,559",TypeScript
24,agiresearch / AIOS,AIOS: LLM Agent Operating System,"1,349",Python

# QUESTION --> 5

In [45]:
#OPENING CHROME
driver=webdriver.Chrome()

In [46]:
#OPENING URL
driver.get('https://www.billboard.com/')

In [50]:
#OPENING CHARTOPTION
chart=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
chart.click()

In [51]:
#OPENING 100 HOT PAGE LINK
Hot100=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a')
Hot100.click()

In [52]:
hot100=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
hot100.click()

In [53]:
Song_Name=[]
Artist_Name=[]
Last_week_Rank=[]
Peak_Rank=[]
Weeks_on_Board=[]

In [54]:
song=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li/ul/li[1]/h3')
for i in song:
    songs=i.text
    Song_Name.append(songs)

Artist=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/span')
for i in Artist:
    artist=i.text
    Artist_Name.append(artist)

Last_week=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[4]/span')
for i in Last_week:
    last=i.text
    Last_week_Rank.append(last)

Peak=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[5]/span')
for i in Peak:
    peak=i.text
    Peak_Rank.append(peak)

Weeks=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[6]/span')
for i in Weeks:
    week=i.text
    Weeks_on_Board.append(week)

In [55]:
#MAKING DATAFRAME
Hot100DF=pd.DataFrame({"Song_Name":Song_Name,"Artist_Name":Artist_Name,"Last_week_Rank":Last_week_Rank,"Peak_Rank":Peak_Rank,
                       "Weeks_on_Board":Weeks_on_Board})
Hot100DF

,Song_Name,Artist_Name,Last_week_Rank,Peak_Rank,Weeks_on_Board
0,Like That,"Future, Metro Boomin & Kendrick Lamar",-,1,1
1,Type Shit,"Future, Metro Boomin, Travis Scott & Playboi C...",-,2,1
2,Beautiful Things,Benson Boone,2,2,10
3,Lose Control,Teddy Swims,1,1,33
4,Too Sweet,Hozier,-,5,1
...,...,...,...,...,...
95,La Victima,Xavi,77,46,15
96,Tucson Too Late,Jordan Davis,81,81,4
97,Empire Now,Hozier,-,98,1
98,Girl I've Always Been,Olivia Rodrigo,-,99,1
99,Outskirts,Sam Hunt,92,92,3

# QUESTION --> 6

In [56]:
#OPENING CHROME
driver=webdriver.Chrome()

In [57]:
#OPENING URL
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [58]:
Book_Name=[]
Author_Name=[]
Volume_sold=[]
Publisher=[]
Genre=[]

In [59]:
Book=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in Book:
    book=i.text
    Book_Name.append(book)

Author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in Author:
    author=i.text
    Author_Name.append(author)

Volume=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in Volume:
    volume=i.text
    Volume_sold.append(volume)

publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publisher:
    publish=i.text
    Publisher.append(publish)

genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genre:
    genre=i.text
    Genre.append(genre)

In [60]:
#MAKING DATAFRAME
Highest_selling_novels=pd.DataFrame({"Book_Name":Book_Name,"Author_Name":Author_Name,"Volume_sold":Volume_sold,"Publisher":Publisher,
                                     "Genre":Genre})
Highest_selling_novels

,Book_Name,Author_Name,Volume_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# QUESTION --> 8

In [61]:
#OPENING CHROME
driver=webdriver.Chrome()

In [62]:
#OPENING URL
driver.get("https://archive.ics.uci.edu/")

In [64]:
#CLICKING ON DATASET
dataset=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/footer/div[3]/a[2]')
dataset.click()

In [68]:
Dataset_Name=[]
Dataset_Types=[]
Task=[]
Attribute_types=[]
No_of_Instance=[]
No_of_Attribute=[]
Year=[]

In [69]:
Name=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
for i in Name:
    name=i.text
    Dataset_Name.append(name)

Types=driver.find_elements(By.XPATH,'//p[@class="truncate"]')
for i in Types:
    type=i.text
    Dataset_Types.append(type)

task=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div/div/div/div[1]')
for i in task:
    task=i.text
    Task.append(task)

Attribute=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div/div[2]/div/div[2]/span')
for i in Attribute:
    attr=i.text
    Attribute_types.append(attr)

Instances=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/div/div[3]/span')
for i in Instances:
    instance=i.text
    No_of_Instance.append(instance)

No_Attribute=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/div/div[4]/span')
for i in No_Attribute:
    No_attr=i.text
    No_of_Attribute.append(No_attr)

date=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div/div/table/tbody/tr/td[3]')
for i in date:
    date=i.text
    Year.append(date)

In [70]:
#MAKING DATAFRAME
Machine_LearningDF=pd.DataFrame({"Dataset_Name":Dataset_Name,"Dataset_Types":Dataset_Types,"Task":Task,"Attribute_types":Attribute_types,
                                 "No_of_Instance":No_of_Instance,"No_of_Instance":No_of_Instance,"Date":Year})
Machine_LearningDF

,Dataset_Name,Dataset_Types,Task,Attribute_types,No_of_Instance,Date
0,Iris,"A small classic dataset from Fisher, 1936. One...",Classification,Tabular,150 Instances,7/1/1988
1,Dry Bean,"Images of 13,611 grains of 7 different registe...",Classification,Multivariate,13.61K Instances,9/14/2020
2,Heart Disease,"4 databases: Cleveland, Hungary, Switzerland, ...",Classification,Multivariate,303 Instances,7/1/1988
3,Rice (Cammeo and Osmancik),A total of 3810 rice grain's images were taken...,Classification,Multivariate,3.81K Instances,10/6/2019
4,Adult,Predict whether income exceeds $50K/yr based o...,Classification,Multivariate,48.84K Instances,5/1/1996
5,Raisin,Images of the Kecimen and Besni raisin varieti...,Classification,Multivariate,900 Instances,8/14/2023
6,Breast Cancer Wisconsin (Diagnostic),Diagnostic Wisconsin Breast Cancer Database.,Classification,Multivariate,569 Instances,11/1/1995
7,Wine,Using chemical analysis to determine the origi...,Classification,Tabular,178 Instances,7/1/1991
8,Wine Quality,"Two datasets are included, related to red and ...","Classification, Regression",Multivariate,4.9K Instances,10/7/2009
9,Diabetes,This diabetes dataset is from AIM '94,Classification,"Multivariate, Time-Series",1 Instances,N/A