In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admn\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admn\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\admn\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admn\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admn\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\admn\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\admn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\admn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\admn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\admn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\admn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\admn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\admn\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admn\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admn\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admn\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required. You have to
scrape first 10 jobs data. 'https://www.shine.com/'

In [16]:
driver=webdriver.Chrome()

In [17]:
#Opening the Shine pae on automated Chrome Browser
driver.get('https://www.shine.com/')

In [18]:
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys("Data Analyst")

In [19]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Bangalore")

In [20]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [29]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [30]:
title_tag=driver.find_elements(By.XPATH,'//div[@class="parentClass position-relative"]/div/div/div/h2/a')
for i in title_tag:
    title=i.text
    job_title.append(title)

location_tag=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tag:
    location=i.text
    job_location.append(location)

names=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in names:
    name=i.text
    company_name.append(name)
    
experience=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience:
    req=i.text
    experience_required.append(req)

In [32]:
df=pd.DataFrame({"Job Title":job_title,"Job Location":job_location,"Company Name":company_name,"Experience Required":experience_required})

In [33]:
df

,Job Title,Job Location,Company Name,Experience Required
0,Sr.DataAnalyst/Analyst Analytics,Other Karnataka,simplilearn,1 to 4 Yrs
1,People Analyst,Hyderabad\n+1,highradius,2 to 3 Yrs
2,Business Analyst,All India,skill hire,0 to 1 Yr
3,Data Scientist,All India,adrsta,2 to 6 Yrs

#There is only 4 Jobs on that criteria on thje site

Q2: Write a python program to scrape data for ““Data Scientist” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required. You have to
scrape first 10 jobs data. 'https://www.naukri.com/''

In [38]:
driver=webdriver.Chrome()

In [39]:
driver.get( 'https://www.naukri.com/')

In [40]:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input")
designation.send_keys('Data Analyst')

In [42]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")

In [43]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search.click()

In [44]:
Job_Title=[]
Job_Location=[]
Company_Name=[]
Experience_Required=[]

In [52]:
title=driver.find_elements(By.XPATH,'//div[@class="srp-jobtuple-wrapper"]/div/div/a')
for i in title:
    title_tag=i.text
    Job_Title.append(title_tag)
    Job_Title=Job_Title[0:10]
    
location=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location:
    loc=i.text
    Job_Location.append(loc)
    Job_Location=Job_Location[0:10]

company=driver.find_elements(By.XPATH,'//span[@class=" comp-dtls-wrap"]/a[1]')
for i in company:
    name=i.text
    Company_Name.append(name)
    Company_Name=Company_Name[0:10]
    
experience=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience:
    Requirement=i.text
    Experience_Required.append(Requirement)
    Experience_Required=Experience_Required[0:10]

In [53]:
Dataframe=pd.DataFrame({'Job Title':Job_Title,'Location':Job_Location,'Comapny Name':Company_Name,'Experience Required':Experience_Required})

In [54]:
Dataframe

,Job Title,Location,Comapny Name,Experience Required
0,Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...","Orbit Skyline, Inc",2-4 Yrs
1,Data Analyst,Bengaluru,Target,2-4 Yrs
2,Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",TELUS International,1-4 Yrs
3,Online Data Analyst,"Mumbai, Bengaluru",FedEx TSCS (India) Pvt Ltd,1-4 Yrs
4,Data Analyst,Bangalore/Bengaluru(Domlur),Fenyes Engineered Technology Pvt Ltd,5-6 Yrs
5,Data Analyst (automotive),"Hybrid - Bangalore Rural, Karnataka, Hyderabad...",Tsit Digital Technologies,5-10 Yrs
6,Data Analyst,Bengaluru(4th Phase JP Nagar),Objectwin Technology,1-5 Yrs
7,Data Analyst,"Bangalore Rural, Karnataka, Hyderabad, Telanga...",Talent Sketchers,6-10 Yrs
8,Job opportunity _ Data Analyst,Hybrid - Bengaluru,2coms,5-10 Yrs
9,Data Analyst,Bengaluru,Intelliswift,5-10 Yrs

Q3: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
https://www.flipkart.com/

In [77]:
driver=webdriver.Chrome()

In [78]:
driver.get(' https://www.flipkart.com/')

In [92]:
Brand=[]
Product_Description=[]
Price=[]
Discount=[]

In [93]:
start=0
end=3
for page in range(start,end):
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        name=i.text
        Brand.append(name)
        Brand=Brand[0:100]
    
    description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description:
        descriptive=i.text
        Product_Description.append(descriptive)
        Product_Description=Product_Description[0:100]
    
    price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price:
        prc=i.text
        Price.append(prc)
        Price=Price[0:100]

    discount=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]/span')
    for i in discount:
        disc=i.text
        Discount.append(disc)
        Discount=Discount[0:100]


    nextpage=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    nextpage.click()
    time.sleep(3)

In [84]:
print(len(Brand),len(Product_Description),len(Price),len(Discount))

100 100 100 100

In [96]:
FlipKart=pd.DataFrame({'Brand':Brand,'Product Description':Product_Description,'Price':Price,'Discount':Discount})

In [97]:
FlipKart

,Brand,Product Description,Price,Discount
0,NuVew,"UV Protection Over-sized, Wayfarer Sunglasses ...",₹449,74% off
1,AISLIN,"UV Protection Wayfarer, Oval Sunglasses (57)",₹449,85% off
2,Ray-Ban,UV Protection Shield Sunglasses (58),"₹8,063",31% off
3,IDEE,Polarized Rectangular Sunglasses (61),"₹1,519",57% off
4,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹806,59% off
...,...,...,...,...
95,Lenskart STUDIO,"Polarized, UV Protection Rectangular Sunglasse...","₹1,111",68% off
96,AISLIN,"UV Protection Oval, Aviator Sunglasses (60)",₹449,81% off
97,PERKEY,"Polarized, UV Protection Retro Square, Over-si...","₹1,709",57% off
98,Legend Eyewear,"Mirrored, Gradient, Night Vision, Polarized, R...",₹355,81% off
99,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (62)",₹664,66% off