In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get('https://www.icc-cricket.com/rankings/team-rankings/mens/odi')

In [4]:
Position=[]
Team=[]
Rating=[]
Points=[]
Matches=[]

In [6]:
position=driver.find_elements(By.XPATH,'//div[@class="si-table-data si-pos"]')
for i in position:
    pos=i.text
    Position.append(pos)
    Position=Position[0:11]
    
team=driver.find_elements(By.XPATH,'//span[@class="si-fname si-text"]')
for i in team:
    Teams=i.text
    Team.append(Teams)
    Team=Team[0:10]
    
rate=driver.find_elements(By.XPATH,'//div[@class="si-table-data si-rating"]')
for i in rate:
    rates=i.text
    Rating.append(rates)
    Rating=Rating[0:11]
    

point=driver.find_elements(By.XPATH,'//div[@class="si-table-data si-pts"]')
for i in point:
    pnt=i.text
    Points.append(pnt)
    Points=Points[0:11]
    
    
match=driver.find_elements(By.XPATH,'//div[@class="si-table-data si-matches"]')
for i in match:
    matches=i.text
    Matches.append(matches)
    Matches=Matches[0:11]

In [7]:
Position.remove('Pos')

In [8]:
Rating.remove('Rating')

In [9]:
Points.remove('Pts')

In [10]:
Matches.remove('Matches')

In [11]:
print(len(Position),len(Team),len(Rating),len(Points),len(Matches))

10 10 10 10 10

In [12]:
df=pd.DataFrame({'Position':Position,'Team':Team,'Rating':Rating,'Points':Points,'Matches':Matches})

In [13]:
df

  Position          Team Rating Points Matches
0       01         INDIA    121   7020      58
1       02     AUSTRALIA    118   5309      45
2       03  SOUTH AFRICA    110   4062      37
3       04      PAKISTAN    109   3922      36
4       05   NEW ZEALAND    102   4708      46
5       06       ENGLAND     96   3934      41
6       07     SRI LANKA     91   4735      52
7       08    BANGLADESH     87   4095      47
8       09   AFGHANISTAN     80   2650      33
9       10   WEST INDIES     71   3109      44

2) Write a python program to scrape product name, price and discounts from
https://www.meesho.com/bags-ladies/pl/3jo?page=1

In [14]:
driver=webdriver.Chrome()

In [15]:
driver.get('https://www.meesho.com/bags-ladies/pl/3jo?page=1')

In [41]:
Name=[]
Price=[]
Rating=[]

In [42]:
name=driver.find_elements(By.XPATH,'//div[@class="NewProductCardstyled__ProductHeaderWrapper-sc-6y2tys-30 gspQJ"]/span/p')
for i in name:
    na=i.text
    Name.append(na)

price=driver.find_elements(By.XPATH,'//div[@class="sc-bcXHqe kTWHUQ NewProductCardstyled__PriceRow-sc-6y2tys-7 bIZpbw NewProductCardstyled__PriceRow-sc-6y2tys-7 bIZpbw"]/h5')
for i in price:
    pc=i.text
    Price.append(pc)
    
Rate=driver.find_elements(By.XPATH,'//span[@class="sc-gKPRtg hTYrlo"]')
Ratee=driver.find_elements(By.XPATH,'//span[@class="sc-gKPRtg kuvnkX"]')
for i in Rate and Ratee:
    rate=i.text
    Rating.append(rate)

4) Write a python program to scrape details of all the posts from https://www.patreon.com/coreyms .Scrape the
heading, date, content and the likes for the video from the link for the youtube video from the post.

In [44]:
driver=webdriver.Chrome()

In [45]:
driver.get(' https://www.patreon.com/coreyms ')

In [46]:
Heading=[]
Date=[]
Likes=[]

In [48]:
heading=driver.find_elements(By.XPATH,'//span[@class="sc-1hmaiaw-0 fIBzIT"]')
for i in heading:
    head=i.text
    Heading.append(head)
    
date=driver.find_elements(By.XPATH,'//p[@class="sc-fFeiMQ hGHQwf sc-mz8f26-1 bShzIK"]/span/a')
for i in date:
    datee=i.text
    Date.append(datee)
    
likes=driver.find_elements(By.XPATH,'//span[@class="sc-fFeiMQ hGHQwf"]')
for i in likes:
    like=i.text
    Likes.append(like)

In [49]:
ContentDF=pd.DataFrame({'Heading':Heading,'Date':Date,'Likes':Likes})

In [52]:
ContentDF.head(5)

                                             Heading         Date Likes
0  How to Use ChatGPT as a Powerful Tool for Prog...  21 May 2023     2
1  Python Tutorial: Simulate the Powerball lotter...  28 Jan 2023     2
2  (Early Access) Python YouTube API Tutorial: Ca...   9 Jun 2020     2
3  Python YouTube API Tutorial: Getting Started -...  29 May 2020     5
4  Python Tutorial: Real World Example - Using Pa...  24 May 2020     5

Write a python program to scrape house details from mentioned URL. It should include house title, location,
area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar,
Rajaji Nagar.

In [63]:
driver=webdriver.Chrome()

In [64]:
driver.get('https://www.nobroker.in/')

In [86]:
location=driver.find_element(By.XPATH,'/html/body/div[4]/div/div/div[2]/div[2]/div[4]/div/div/input')
location.send_keys('Indiranagar,Bengaluru,Karnataka,India')

looking=driver.find_element(By.XPATH,'/html/body/div[4]/div/div/div[2]/div[3]/div[2]/div[1]')
looking.click()

size=driver.find_element(By.XPATH,'/html/body/div[4]/div/div/div[2]/div[3]/div[3]/div[2]/div[3]')
size.click()

search=driver.find_element(By.XPATH,'/html/body/div[4]/div/div/div[2]/div[2]/button')
search.click()

In [108]:
House_Title=[]
Location=[]
Area=[]
Emi=[]
Price=[]

In [109]:
title_tag=driver.find_elements(By.XPATH,'//h2[@class="heading-6 flex items-center font-semi-bold m-0"]/a')
for i in title_tag:
    title=i.text
    House_Title.append(title)
    House_Title[0:25]
location=driver.find_elements(By.XPATH,'//div[@class="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0.1p po:max-w-95"]')
for i in location:
    loc=i.text
    Location.append(loc)
    Location[0:25]
area=driver.find_elements(By.XPATH,'//div[@class="flex flex-col w-33pe items-center tp:w-half po:w-full "]')
for i in area:
    areaa=i.text
    Area.append(areaa)
    Area[0:25]
    Area=[item.replace('\nBuiltup', '') for item in Area]
    
emi=driver.find_elements(By.XPATH,'//*[@id="minDeposit"]/div[1]')
for i in emi:
    emii=i.text
    Emi.append(emii)
    Emi[0:25]
    
price=driver.find_elements(By.XPATH,'//*[@id="roomType"]')
for i in price:
    prc=i.text
    Price.append(prc)
    Price[0:25]

In [110]:
df=pd.DataFrame({'House_Title':House_Title,'Location':Location,'Area':Area,'Emi':Emi,'Price':Price})

In [112]:
df.head()

,House_Title,Location,Area,Emi,Price
0,"2 BHK House For Rent In Indira Nagar Ii Stage,...","Independent House, 10th Main, 4th Cross, Indra...","1,350 sqft","₹ 36,000","₹2,00,000"
1,2 BHK House For Rent In Indiranagar,"Independent House, 11th Main Road","1,200 sqft","₹ 60,000 +","₹5,00,000"
2,2 BHK In Kamala Nivas For Rent In Pulkeshi Nagar,"Coles Road, near Domino's Pizza",750 sqft,"₹ 18,000","₹1,80,000"
3,2 BHK Flat For Rent In Indiranagar,"Standalone Building, HAL 2nd StageNear New Hor...","1,000 sqft","₹ 16,000","₹1,00,000"
4,2 BHK Flat In Apartment For Rent In Halasur,Old Madras Road near Adarsh Theater,500 sqft,"₹ 12,000","₹80,000"